<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">  
        <style data-emotion="css reheart" data-s>
            .css-reheart {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                height: 100%;
                margin: 0 auto;
                width: 100%;
            }
    
            @media(min-width: 1171px) {
                .css-reheart {
                    width: 1170px;
                }
            }
        </style>
        <style>
            .menu{
                display: flex;
                width: 100%;
                align-items: center;
                height: 80px;
                position: fixed;
                top: 0; 
                left: 0;
                justify-content: center;
            } 
            .step1{
                background-image: url(https://www.kacpr.org/images/cpr/aed-cpr1.png);
                background-repeat: no-repeat;
                background-position: right top;
                margin-right: 100px;
                background-size: 150px;
            }
            .step2{
                background-image: url(https://www.kacpr.org/images/cpr/aed-cpr2.png);
                background-repeat: no-repeat;
                background-position: right top;
                margin-right: 100px;
                background-size: 150px;
            }
            .step3{
                background-image: url(https://www.kacpr.org/images/cpr/aed-cpr3.png);
                background-repeat: no-repeat;
                background-position: right top;
                margin-right: 100px;
                background-size: 150px;
            }
            .step4{
                background-image: url(https://www.kacpr.org/images/cpr/aed-cpr4.png);
                background-repeat: no-repeat;
                background-position: right top;
                margin-right: 100px;
                background-size: 150px;
            }
            .step5{
                background-image: url(https://www.kacpr.org/images/cpr/aed-cpr5.png);
                background-repeat: no-repeat;
                background-position: right top;
                margin-right: 100px;
                background-size: 150px;
            }
            
        </style>
    </head>
<body style="overflow: unset;">
    <div id="_next">
        <header
            style="position: sticky;top:0;display:flex;justify-content:space-between;width:100%;height:60px;background:#FFF5F5;box-shadow:0px 4px 20px rgba(96, 96, 96, 0.25);z-index:5">
            <div style="flex-direction: row;align-items:center;justify-content:space-between" class="css-reheart">
                <div class="logo">
                    <a href="/"><img src="images/logo_seoul.svg" alt="RE:HEART logo" style="width: 150px;margin-inline:80px"></a>
                </div>
                <div class="menu">
                    <ul style="display: flex;list-style:none;gap:50px;margin-inline:250px;">
                        <li>
                            <a style="display: inline-block; color:#9a9a9a;font-size:15px;padding: 20px;" href="/map">지도</a>
                        </li>
                        <li>
                            <a style="display: inline-block; color:#000000;font-size:15px;padding: 20px;" href="/explain">설명</a>
                        </li>
                        <li>
                            <a style="display: inline-block; color:#9a9a9a;font-size:15px;padding: 20px;" href="/aboutus">우리</a>
                        </li>
                    </ul>
                </div>
                
        </header>
        <div class="left_logo">
        <img src="images/AED.svg" style="width: 200px; margin-left: 50px; margin-top: 50px;margin-right: 50px; float: left;">
        </div>
            <div class="whatisAED">
                <div style="flex-grow: 1;
                font-family:SUIT; 
                font-size:30px;
                color:black;
                text-shadow:rgba(0, 0, 0, 0.25) 0px 4px 4px; 
                display: flex;
                flex-direction: column; 
                justify-content: center;
                margin-top: 120px;
                margin-left: 30px;">
                <img src="images/line.svg" style="width: 50px;">
                <span style="margin-bottom: 30px;">자동심장충격기(AED) 란?</span>
            </div>
                <div class="explain_AED">
                    <div style="line-height: 30px; font-family: SUIT;">
                    <span>
                        자동심장충격기(AED)란 심실세동(심장의 박동에 의해서 심실의 각 부분이 불규칙적으로 수착하는 상태)환자들에게
                    </span><br>
                    <span>
                        극히 짧은 순간에 강한 전류를 심장에 통과시켜서 대부분의 심근에 활동전위를 유발하여 심실세동이 유지될 수 없도록
                    </span><br>
                    <span>
                         함으로써 심실세동을 종료시키고 심장이 다시 정상적인 전기활동을 할 수 있도록 유도하는 것이다.
                    </span>
                </div>
            </div>

            <div class="howtouseAED">
                <div style="flex-grow: 1;
                font-family:SUIT; 
                font-size:30px;
                color:black;
                text-shadow:rgba(0, 0, 0, 0.25) 0px 4px 4px; 
                display: flex;
                flex-direction: column; 
                justify-content: center;
                margin-top: 120px;
                margin-left: 30px;">
                <img src="images/line.svg" style="width: 50px; margin-left: 270px;">
                <span style="margin-bottom: 10px;margin-left: 270px;">자동심장충격기(AED) 사용법</span>
            </div>
                <div style="font-family: SUIT; margin-left:300px;">
                    <div class="explain_AED">
                        <div class="step1" style="box-sizing: inherit; padding:0;">
                            <img src="images/♥ STEP 1.svg" style="margin-top: 40px; margin-bottom: 10px;">
                            <div style="line-height: 30px; font-family: SUIT;">
                                <strong style="font-size: 20px;">전원켜기</strong>
                                <br>
                                <span>
                                    심장충격기(자동제세동기)는 반응과 정상적인 호흡이 없는 심정지 환자에게만 사용해야 하며, 
                                </span>
                                <br>
                                <span>
                                    심폐소생술 시행 중에 심장충격기(자동제세동기)가 도착하면 지체 없이 적용해야 한다. 
                                </span>
                                <br>
                                <span>
                                    먼저 심장충격기(자동제세동기)를 심폐소생술에 방해가 되지않는 위치에 놓은 뒤에 전원 버튼을 누른다.
                                </span>
                        </div>
                        <div class="step2">
                            <img src="images/♥ STEP 2.svg" style="margin-top: 40px;">
                            <div style="line-height: 30px; font-family: SUIT;">
                                <strong style="font-size: 20px;">두 개의 패드 부착</strong><br>
                            <span>
                                패드 1 : 오른쪽 빗장뼈 아래   |   패드 2 : 왼쪽 젖꼭지 아래의 중간겨드랑선
                            </span><br>
                            <span>
                                패드 부착부위에 이물질이 있다면 제거하며, 
                            </span><br>
                            <span>
                                패드와 심장충격기(자동제세동기) 본체가 분리되어 있는 경우에는 연결한다.
                            </span>
                            </div>
                        </div>
                        <div class="step3">
                            <img src="images/♥ STEP 3.svg" style="margin-top: 40px;">
                            <div style="line-height: 30px; font-family: SUIT;">
                                <strong style="font-size: 20px;">심장리듬 분석</strong><br>
                            <span>
                                "분석 중..."이라는 음성 지시가 나오면, 심폐소생술을 멈추고 환자에게서 손을 뗀다.
                            </span><br>
                            <span>
                                심장충격(제세동)이 필요한 경우라면 "심장충격(제세동)이 필요합니다"라는 음성 지시와 함께 
                            </span><br>
                            <span>
                                심장충격기(자동제세동기) 스스로 설정된 에너지로 충전을 시작한다. 
                            </span><br>
                            <span>
                                심장충격기(자동제세동기)의 충전은 수 초 이상 소요되므로 가능한 가슴압박을 시행한다. 
                            </span><br>
                            <span>
                                심장충격(제세동)이 필요 없는 경우에는 "환자의 상태를 확인하고, 심폐소생술을 계속 하십시오"
                            </span><br>
                            <span>
                                라는 음성 지시가 나오며, 이 경우에는 즉시 심폐소생술을 시작한다.
                            </span>
                            </div>
                        </div>
                        <div class="step4">
                            <img src="images/♥ STEP 4.svg" style="margin-top: 40px;">
                            <div style="line-height: 30px; font-family: SUIT;">
                                <strong style="font-size: 20px;">심장충격(제세동) 시행</strong><br>
                            <span>
                                심장충격(제세동)이 필요한 경우에만 심장충격(제세동) 버튼이 깜박이기 시작한다. 
                            </span><br>
                            <span>
                                깜박이는 버튼을 눌러 심장충격(제세동)을 시행한다. 
                            </span><br>
                            <span>
                                심장충격(제세동) 버튼을 누르기 전에는 반드시 다른 사람이 환자에게서 떨어져 있는지 확인하여야 한다.
                            </span>
                            </div>
                        </div>
                        <div class="step5">
                            <img src="images/♥ STEP 5.svg" style="margin-top: 40px;">
                            <div style="line-height: 30px; font-family: SUIT;">
                                <strong style="font-size: 20px;">즉시 심폐소생술 다시 시행</strong><br>
                            <span>
                                심장충격(제세동)을 실시한 뒤에는 즉시 가슴압박과 인공호흡을 30:2로 다시 시작한다.
                            </span><br>
                            <span>
                                심장충격기(자동제세동기)는 2분마다 심장리듬을 반복해서 분석하며, 
                            </span><br>
                            <span>
                                이러한 심장충격기(자동제세동기)의 사용 및 심폐소생술의 시행은 119 구급대가 현장에 도착할 때까지 지속되어야 한다.
                            </span>
                            <span>
                                <br>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>
        </div>

        </div>
    </div>
</div>
</body>
</html>

</body> 
</html>