<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100vh;
            justify-content: center;
            align-items: center;
            background-color: #fff5f5;
        }
        h1 {
            color:pink;
            position: relative; 
            font-size: 100px; 
            z-index: 2; 
            -webkit-text-fill-color: transparent; 
            -webkit-text-stroke: 2px #ff9b9b; 
            cursor: pointer; 
            transition: transform 0.5s;
            font-family: 'EarlyFontDiary';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }
        h1:hover {
            -webkit-text-fill-color: pink; 
            transform: translateY(-10px);
        }

        a {
            color: gray;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <h1 style="font-family:Arial, Helvetica, sans-serif">RE:♥</h1>
    <a href="/main">바로가기</a>
</body>
</html>