<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">  
        <style data-emotion="css reheart" data-s>
            .css-reheart {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                height: 100%;
                margin: 0 auto;
                width: 100%;
            }
    
            @media(min-width:1171px) {
                .css-reheart {
                    width: 1170px;
                }
            }
        </style>
        <style>
            .menu{
                display: flex;
                width: 100%;
                align-items: center;
                height: 80px;
                position: fixed;
                top: 0; 
                left: 0;
                justify-content: center;
            }
        </style>
        </head>
        <body style="overflow: unset;">
            <div id="_next">
                <header
                    style="position: sticky;top:0;display:flex;justify-content:space-between;width:100%;height:60px;background:#FFF5F5;box-shadow:0px 4px 20px rgba(96, 96, 96, 0.25);z-index:5">
                    <div style="flex-direction: row;align-items:center;justify-content:space-between" class="css-reheart">
                        <div class="logo">
                            <a href="/"><img src="images/logo_seoul.svg" alt="RE:HEART logo" style="width: 150px;margin-inline:80px"></a>
                        </div>
                        <div class="menu">
                            <ul style="display: flex;list-style:none;gap:50px;margin-inline:250px;">
                                <li>
                                    <a style="display: inline-block; color:#9a9a9a;font-size:15px;padding: 20px;text-decoration-line: none;" href="/map">지도</a>
                                </li>
                                <li>
                                    <a style="display: inline-block; color:#9a9a9a;font-size:15px;padding: 20px;text-decoration-line: none;" href="/explain">설명</a>
                                </li>
                                <li>
                                    <a style="display: inline-block; color:#9a9a9a;font-size:15px;padding: 20px;text-decoration-line: none;" href="/aboutus">우리</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
            <div style="text-align:center;margin-top: 7%;">
                <div class="gotomap" style="display: inline-block;width: 400px;height: 400px; margin-left: 15%;">
                    <a href="/map"><img src="images/map_seoul.svg" style="block-size: 400px;"></a>
                </div>
                <div class="AED_img" style="display: inline-block;width: 400px;height: 400px; margin-right: 15%; margin-left: 7%;">
                    <a href="/explain"></a><img src="images/AED.svg"style="block-size: 400px;"></a>
                </div>
            </div>
            <div style="text-align: center; margin-top:1%;">
                <div class="gotomap" style="display: inline-block; margin-left: auto;"><a href="/map">지도에서 보기</a></div>
                <div class="AED_img" style="display: inline-block; margin-left: 27%; margin-right: auto;"><a href="/explain">설명보러 가기</a></div>
            </div>
        </div>
        </body>
</html>

